In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/home/placement/Desktop/prasanna/customer_details.csv")

In [3]:
data.describe()

        customer_id  customer_age        tenure
count  2.000000e+04  20000.000000  20000.000000
mean   1.760040e+07    262.222550     44.396800
std    8.679505e+06    604.321589     31.998376
min    2.093000e+03    -34.000000      4.000000
25%    1.188115e+07     29.000000     21.000000
50%    1.560912e+07     38.000000     35.000000
75%    2.228484e+07    123.000000     60.000000
max    4.462566e+07   2022.000000    133.000000

In [4]:
data1.groupby(['customer_id']).count()

NameError: name 'data1' is not defined